

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color:#FF3087;
    }

.container {
    width: min(65em, 100%);
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}







/* -----START----- */

/* wrapper */


/* LOGO */
.logo {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 150px;
    height: auto;
}

/* BANNER */

/* banner background image */
.hero-banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #0009, #0009), url('../images/20595006.jpg');
    background-size: cover;
    background-position: center;
}

/* banner text */
.title-banner {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    }

/* banner button */
.btn-banner {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }

    /* NAVIGATION */

/* HOME & MENU */

/* nav bar */
.navbar {
        position: absolute;
        width: 100%;
        top: 0;
        right: 100px;
        padding: 10px; 
        margin: 60px;
        width: 200px;
    }

/* removes styling of off ALL  */
ul a {
    display: flex;
    padding: .75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

/* removes a styling for CONTACT & ABOUT  */

.ul-pink a {
    display: flex;
    padding: .75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    color:#FF3087;
    text-transform: uppercase;
    font-weight: bold;
}

/* GENERAL STYLING */


/* moves list items it to the left side of the page */

/* removes styling off of ALL ul's and FLEXES the direction */
ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

/* BUTTONS */

/* stylizes button to the theme*/
button {
    background: #82DE2D;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    width: 10%;
    padding: 20px;
    margin: 20px;
    border: none;
    opacity: 1;
    }

/* removes styling off of button link */
button a {
    text-decoration: none;
    color: #FF3087;
    text-transform: uppercase;
    font-weight: bold;
}

/* POPULAR PRODUCTS */

/* stylizes all H2 */
.h2-home {
    text-align: center;
    padding: 5rem;
    text-transform: uppercase;
    color: #FF3087;
}

/* ABOUT PAGE */

.about .container {
    padding-top: 20rem;
    padding-bottom: 10rem;
    align-items: center;
    /* display: flex;
    flex-direction: row; */

    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 2fr;
    }

.about-image img {
    aspect-ratio: 1 / 1;
    display: flex;
}

.about-image img {
    width: 500px; 
    height: 400px; 
    border-radius: 10%;
    /* float: left; */
}



.about-content-title {
    font-size: 1.765rem;
    line-height: 1.3rem;
        text-align: center;
        padding: 5rem;
        text-transform: uppercase;
        color: #FF3087;
    }

.about-content p {
        padding-bottom: 1rem;
}



/* .about {
    padding-top: 20rem;
    padding-bottom: 10rem;
}
 .about .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

.about-image {
    width: 350px;  Maintain the image's aspect ratio 
    height: 350px;  Maintain the image's aspect ratio 
    display: flex;
}

.about-image {
    float: left;
    object-fit: cover;
}

.about-content {
    font-size: 1.25rem;
    line-height: 1.3;
}

.about-content-title {
    justify-content: center;
    top: 10px;
}
 */

 



/* FOOTER */

.footer {
    background-color:#82DE2D;
    width: 100%;
    padding-bottom: 1rem;
    /* padding: 70px 30px 20px 0; */
    /* padding: 2rem;
    text-align: center; */
}

.footer-logo {
    position: relative;
    /* top: 1px;
    left: -40px; 
    width: 150px; 
    height: auto;  */
}

.footer-nav {
    padding: 10px;
}
.footer-nav .ul-pink {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-nav .ul-pink li a {
    margin: 10px;
}

.socials {
    display: flex;
    justify-content: center;
}

.footer p {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.socials a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: #FF3087;
    border-radius: 100%;
}

.socials a i {
    font-size: 1rem;
    color:#82DE2D;
}

.footer small {
    padding-top: 2rem;
    justify-content: center;
}













/* .footer ul {
    list-style: none;
    margin: 0;
    border-left: .125rem solid #36bf7f;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .75rem; */
    /* display: flex;
    flex-direction: column;
    border-left: 0.125rem solid #FF3087; */


/* .footer a {
    justify-content: right;
    left: 5px;
    padding: .75rem 1.5rem;
    text-decoration: none;
    color:#FF3087;
    text-transform: uppercase;
    font-weight: bold;
}  */
