/* Sets the margin, padding, and box-sizing properties to 0 for all elements, ensuring a consistent layout. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sets the font family to 'Mulish' and applies some styles to the body element, such as margin, padding, overflow, and text color. */
body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color:#FF3087;
    }

/* Sets the font family to 'Archivo Black' and font size to 3rem for all h1 elements. */
h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 3rem;
    }
    

/* Sets the font family to 'Anton' and applies various styles to h2 elements, including text alignment, padding, text transformation, and color.   */
h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-top: 11rem;
    padding-bottom: 6rem;
    text-transform: uppercase;
    color: #FF3087;
}

/* Sets the width of the container class to either 78em or 100% of the parent element's width and centers it horizontally using auto margins. It also adds padding to the left and right sides. */
.container {
    width: min(78em, 100%);
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}



/* ----------- GENERAL STYLING START---------- */


/* LOGO */
 /* sets the position, size, and dimensions of the logo element. */
.logo {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 150px;
    height: auto;
}


/* NAVIGATION */
/* styles for the navigation bar, including its position, size, and padding. It also defines the styles for the links 
in the navigation bar, differentiating between the ones with white and pink text color. */

.navbar {
        position: absolute;
        width: 100%;
        top: 0;
        right: 100px;
        padding: 10px; 
        margin: 60px;
        width: 200px;
    }


ul a {
    display: flex;
    padding: .75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

/* removes a tag styling for CONTACT & ABOUT  */

.ul-pink a {
    display: flex;
    padding: .75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    color:#FF3087;
    text-transform: uppercase;
    font-weight: bold;
}

/* styles for unordered lists, including removing the default 
styling, setting them to display as flex containers with a row direction. */
ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

/* BUTTONS */

/* styles for buttons, including the background color, text color, box shadow, border radius, width, padding, 
margin, and border. It also sets the opacity to 1 and removes the text decoration for button links. */

button {
    background: #82DE2D;
    color: #FF3087;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    width: 10%;
    padding: 20px;
    margin: 20px;
    border: none;
    opacity: 1;
    }

button a {
    text-decoration: none;
    color: #FF3087;
    text-transform: uppercase;
    font-weight: bold;
}

/* -------------PAGES STYLING START--------------- */

/* HOMEPAGE */

/* BANNER */

/* Sets styles for the hero banner section, including the background image, size, and position, as well as the 
position and styles for the banner text and button. */

.hero-banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #0009, #0009), url('../images/20595006.jpg');
    background-size: cover;
    background-position: center;
}

.title-banner {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    }

.btn-banner {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color:#FF3087;
    }


/* POPULAR PRODUCTS */

/* sets the styles for the popular products section, 
including the container, title, menu card images, and buttons */

.container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.popular-products, h2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.menu-card-image img  {
    width: 250px; 
    height: 250px; 
    margin-bottom: 15px;
    border-radius: 1.5rem;
    box-shadow: 0 0.25rem 1rem #0002;
}

.menu-card {
    margin: 3rem;
    border-radius: 1.5rem;
    text-align: center;
}

.popular-products-btn {
    padding-top: 2rem;
}

/* TESTIMONIALS */
/* Sets the styles for the testimonials section, including the container, card, content, and text. */

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 6rem;
}

.testimonial-card {
    width: 400px;
    height: 400px;
    box-shadow: 0 0.25rem 1rem #0002;
    border: 1.5rem solid #FF3087;
    border-radius: 1.5rem;
    padding: 49px;
    margin: 15px;
    text-align: center;
}

.testimonial-content {
    padding-top: 3rem;
    width: 100%;
}

.testimonial-content p {
    width: 262px;
    justify-content: center;
    padding: 0;
}


/* ABOUT PAGE */

/* Sets the styles for the about page, including the container, image, content title, and text. */

.about .container {
    padding-bottom: 11rem;
    padding-right: 8rem;
    align-items: center;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 2fr;
    }

.about-image img {
    aspect-ratio: 1 / 1;
    display: flex;
}

.about-image img {
    width: 600px; 
    height: 500px; 
    border-radius: 10%;
    box-shadow: 0 0.25rem 1rem #0002;
}

.about-content-title {
    text-transform: uppercase;
    font-size: 1.3rem; 
    text-align: center;
    }

.about-content-title h2 {
    padding-top: 11rem;
    padding-bottom: 4rem;
    }

.about-text {
    width: 600px;
    text-indent: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

/* CONTACT */
/* Sets the styles for the contact page, including the container, title, form, input fields, submit button and contact image */

.contact-title {
    text-transform: uppercase;
    font-size: 1.3rem; 
    text-align: center;
}

.contact-title h2 {
    padding-top: 11rem;
    padding-bottom: 4rem;
}

.contact .container {
    padding-top: 1rem;
    padding-bottom: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-wrap {
    background-color: #fafafa;
    box-shadow: 0 0.25rem 1rem #0002;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 8rem;
    padding: 1rem 50rem 1rem 3rem;
}

.submit {
    width: 125px;
    margin-top: 1rem;
    padding: 1rem;
    background-color:#82DE2D;
    color:#FF3087;
    text-transform: uppercase;
}

label {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

input {
    width: 500px;
    height: 30px;
    border: #ccc;
    box-shadow: 0 0.25rem 1rem #0002;
    border-radius: .50rem;
}

textarea {
    width: 500px;
    height: 200px;
    padding: 0.25rem;
    border: #ccc;
    box-shadow: 0 0.25rem 1rem #0002;
    border-radius: 0.50rem;
}

.contact-image {
    background-image: url('../images/black-woman-baking.jpeg');
    width: 570px;
    height: 570px;
    display: flex;
    justify-content: center;  
    background-size: cover; 
    background-position: center;
    border-radius: 1.5rem;
}


/* FOOTER */
/* footer section, including the container, logo, navigation, socials, and text. */

.footer {
    background-color:#82DE2D;
    width: 100%;
    padding-bottom: 1rem;
    text-align: center;
}

.footer-logo {
    position: relative;
}

.footer-nav {
    padding: 10px;
}
.footer-nav .ul-pink {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-nav .ul-pink li a {
    margin: 10px;
}

.socials {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.footer p {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.socials a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: #FF3087;
    border-radius: 100%;
}

.socials a i {
    font-size: 1rem;
    color:#82DE2D;
}

.footer small {
    padding-top: 2rem;
    justify-content: center;
}














